// Hér eiga að vera stillingar með scss breytum fyrir:
// grid, max-width á síðu, transitions,
// liti, margin-bottom gildi sem eru sameiginleg
$max-width: 1400px;

$transition: 300ms ease-in-out;

$white: #eeeeee;
$darkgrey: #222222;
$black: #000000;
$lightgrey: #cccccc;
$grey:#999999;

$margin-bottom: 2rem;

$grid-width: 100%;